@mixin button
    border: none
    border-radius: 3px
    padding: 3px 13px
    border-bottom: 2px solid black
    transform: translateY(0px)
    &:hover
        cursor: pointer
    &:active
        transform: translateY(2px)
        border-bottom: none