// Цвета
$button--switch: #e2e47b
$button--set: #dbdbdb
$disabled: #817d7d
// Отступы
$button--gap: 5px

// Брейкпоинты
$breakpoint-mobile: 480px
$breakpoint-tablet: 768px
$breakpoint-laptop: 1024px
$breakpoint-desktop: 1280px